.dd {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  max-width: 600px;
  list-style: none;
  font-size: 13px;
  line-height: 20px;
}

.dd_list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.dd_list .dd_list {
  padding-left: 30px;
}

.dd_collapsed .dd_list {
  display: none;
}

.dd_item, .dd_empty, .dd_placeholder {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 20px;
  font-size: 13px;
  line-height: 20px;
}

.dd_handle {
  display: block;
  height: 38px;
  margin: 5px 0;
  padding: 8px 10px;
  color: #555;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #ccc;
  background: #fafafa;
  background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
  background: -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
  background: linear-gradient(top, #fafafa 0%, #eee 100%);
  box-sizing: border-box;
}

.dd_handle:hover {
  color: #555;
  background: #fff;
}

.dd_placeholder, .dd_empty {
  margin: 5px 0;
  padding: 0;
  min-height: 30px;
  border: 1px dashed #ccc;
  box-sizing: border-box;
  background-color: #eef5f6;
}

.dd_empty {
  border: 1px dashed #bbb;
  min-height: 100px;
  background-color: #e5e5e5;
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}

.dd_dragel {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}

.dd_dragel > .dd_item .dd_handle {
  margin-top: 0;
}

.dd_dragel .dd_handle {
  -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
}

@media only screen and (min-width: 700px) {
  .dd {
    /*float: left;*/
    /*width: 48%;*/
  }

  .dd + .dd {
    margin-left: 2%;
  }
}

.dd_hover > .dd_handle {
  background: #555 !important;
}

.dd_handle {
  cursor: move;
}

.menu_item_settings, .show_menu_item_settings {
  display: none;
}

.menu_item_settings {
  background-color: #ffffff;
  border: 1px solid #ccc;
  margin-top: -6px;
  padding: 10px 10px 10px 10px;
}

.menu_item_settings a {
  /*font-weight: bold;*/
}

.show_menu_item_settings, .show_menu_item_settings:hover {
  /*color: #555;*/
  font-weight: normal;
}