body {
  padding-bottom: 40px;
  padding-top: 100px;
}

.popover-title, .popover-content {
  font-size: 13px;
}

.popover {
  /*min-width: 450px ! important;*/
}

#ajax_overlay_success, #ajax_overlay_error, #ajax_overlay_reload {
  display: none;
  margin: 0 auto;
  background-color: #57A900;
  box-shadow: 1px 1px 1px 0 rgba(50, 50, 50, 0.75);
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 15px;
  padding: 8px;
  text-align: center;
  position: fixed;
  top: 20%;
  left: 0;
  right: 0;
  width: 30%;
  z-index: 100000;
}

#ajax_overlay_error {
  background-color: #a94442;
}

#ajax_overlay_success p, #ajax_overlay_error p, #ajax_overlay_reload p {
  margin-top: 10px;
  padding: 5px;
}

.zf-green {
  color: #68B604;
}

.btn-success {
  background-color: #57A900;
  background-image: -moz-linear-gradient(center top, #70D900, #57A900);
}

.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
  background-color: #57A900;
}

.btn-success:active, .btn-success.active {
  background-color: #57A900;
}

div.container a.brand {
  background: url("../img/zf2-logo.png") no-repeat scroll 0 10px rgba(0, 0, 0, 0);
  margin-left: 0;
  padding: 8px 20px 12px 40px;
}

input[type="checkbox"] {
  cursor: pointer;
}

.margin-0 {
  margin: 0;
}

.margin_top-0 {
  margin-top: 0;
}

.margin_top-5 {
  margin-top: 5px;
}

.margin_top-8 {
  margin-top: 8px;
}

.margin_top-10 {
  margin-top: 10px;
}

.margin_top-15 {
  margin-top: 15px;
}

.margin_top-20 {
  margin-top: 20px;
}

.margin_top-30 {
  margin-top: 30px;
}

.margin_top-40 {
  margin-top: 40px;
}

.margin_bottom-0 {
  margin-bottom: 0;
}

.margin_bottom-5 {
  margin-bottom: 5px;
}

.margin_bottom-10 {
  margin-bottom: 10px;
}

.margin_bottom-20 {
  margin-bottom: 20px;
}

.margin_bottom-30 {
  margin-bottom: 30px;
}

.margin_bottom-40 {
  margin-bottom: 40px;
}

.margin_left-0 {
  margin-left: 0;
}

.margin_left-5 {
  margin-left: 5px;
}

.margin_left-10 {
  margin-left: 10px;
}

.margin_left-40 {
  margin-left: 40px;
}

.margin_left-80 {
  margin-left: 80px;
}

.margin_right-0 {
  margin-right: 0;
}

.margin_right-5 {
  margin-right: 5px;
}

.margin_right-10 {
  margin-right: 10px;
}

.padding-0 {
  padding: 0;
}

.padding_top-0 {
  padding-top: 0;
}

.padding_top-5 {
  padding-top: 5px;
}

.padding_top-8 {
  padding-top: 8px;
}

.padding_top-10 {
  padding-top: 10px;
}

.padding_top-20 {
  padding-top: 20px;
}

.padding_top-30 {
  padding-top: 30px;
}

.padding_top-40 {
  padding-top: 40px;
}

.padding_bottom-0 {
  padding-bottom: 0;
}

.padding_bottom-5 {
  padding-bottom: 5px;
}

.padding_bottom-10 {
  padding-bottom: 10px;
}

.padding_bottom-20 {
  padding-bottom: 20px;
}

.padding_bottom-30 {
  padding-bottom: 30px;
}

.padding_bottom-40 {
  padding-bottom: 40px;
}

.padding_left-0 {
  padding-left: 0;
}

.padding_left-5 {
  padding-left: 5px;
}

.padding_left-10 {
  padding-left: 10px;
}

.padding_right-0 {
  padding-right: 0;
}

.padding_right-5 {
  padding-right: 5px;
}

.padding_right-10 {
  padding-right: 10px;
}

.control_panel button.btn-default {
  margin-bottom: 5px;
}

.fa {
  margin-right: 5px;
}

#fileupload > table > tbody > tr > td:nth-child(4) > button.btn.btn-default.start > i {
  margin-right: 0px;
}

#fileupload > table > tbody > tr > td:nth-child(4) > button.btn.btn-default.cancel > i {
  margin-right: 0px;
}

.ui-autocomplete a {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.ui-autocomplete li, .ui-autocomplete li.ui-state-focus {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border: 0px;
  font-size: 14px;
}

.user_data, .cart {
  padding-top: 5px;
  text-align: right;
}

.user_data span {
  color: #FFFFFF;
}

.navbar-toggle {
  margin-right: 0;
}

/** Form **/
form {
  padding-right: 18px;
}

dt label.required {
  display: block;
  margin-top: -1px;
}

dt label.required:after {
  content: url("../img/req.png");
  width: 120px;
}

dd.has-feedback .form-control-feedback {
  top: 0;
  right: -30px;
}

dd.has-feedback .chosen-single, dd.has-feedback .chosen-choices {
  border-color: #A94442;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

#fileupload .table {
  margin-bottom: 0;
}

#fileupload .progress {
  margin-bottom: 5px;
}

.files .name {
  overflow: hidden;
  width: 160px;
  word-wrap: break-word;
  margin: 0;
}

.form-control {
  font-weight: normal;
}

.nav-tabs li a.has_error {
  color: #B94A48;
  font-weight: bold;
}

/** Table **/

.table_container {
  margin-bottom: 20px;
}

.table_container table {
  display: none;
}

.table_container table td > p {
  margin: 0px;
}

.table_container .table_control_panel {
  display: none;
}

table input[type="checkbox"] {
  margin: 0;
}

table .sortable .column_label {
  cursor: pointer;
  padding-right: 5px;
}

table .sortable .column_label:hover {
  text-decoration: underline;
}

.table_container .control_panel .pagination, .table_container .control_panel .chosen-container {
  margin: 0 5px 5px 0;
}

.table_container .table td {
  vertical-align: middle;
}

.table_container tr.disbable_row td {
  color: #adadad;
  text-decoration: line-through;
}

.add_first_new_form_modal {
  display: none;
}

.second_opinion {
  cursor: pointer;
}

/** Breadcrumbs **/
div.btn-group.btn-breadcrumb a {
  margin-bottom: 5px;
}

.btn .caret {
  margin-left: 5px;
}

.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}

.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

.btn-breadcrumb .btn:first-child:nth-last-child(1) {
  display: none;
}

.btn-breadcrumb .btn {
  padding: 6px 12px 6px 24px;
}

.btn-breadcrumb .btn:first-child {
  padding: 6px 6px 6px 10px;
}

.btn-breadcrumb .btn:last-child {
  padding: 6px 18px 6px 24px;
}

/** Default button **/
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
  border-left: 10px solid #fff;
}

.btn-breadcrumb .btn.btn-default:not(:last-child):before {
  border-left: 10px solid #ccc;
}

.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
  border-left: 10px solid #ebebeb;
}

.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
  border-left: 10px solid #adadad;
}

/** Primary button **/
.btn-breadcrumb .btn.btn-primary:not(:last-child):after {
  border-left: 10px solid #428bca;
}

.btn-breadcrumb .btn.btn-primary:not(:last-child):before {
  border-left: 10px solid #357ebd;
}

.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):after {
  border-left: 10px solid #3276b1;
}

.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):before {
  border-left: 10px solid #285e8e;
}

/** Success button **/
.btn-breadcrumb .btn.btn-success:not(:last-child):after {
  border-left: 10px solid #5cb85c;
}

.btn-breadcrumb .btn.btn-success:not(:last-child):before {
  border-left: 10px solid #4cae4c;
}

.btn-breadcrumb .btn.btn-success:hover:not(:last-child):after {
  border-left: 10px solid #47a447;
}

.btn-breadcrumb .btn.btn-success:hover:not(:last-child):before {
  border-left: 10px solid #398439;
}

/** Danger button **/
.btn-breadcrumb .btn.btn-danger:not(:last-child):after {
  border-left: 10px solid #d9534f;
}

.btn-breadcrumb .btn.btn-danger:not(:last-child):before {
  border-left: 10px solid #d43f3a;
}

.btn-breadcrumb .btn.btn-danger:hover:not(:last-child):after {
  border-left: 10px solid #d2322d;
}

.btn-breadcrumb .btn.btn-danger:hover:not(:last-child):before {
  border-left: 10px solid #ac2925;
}

/** Warning button **/
.btn-breadcrumb .btn.btn-warning:not(:last-child):after {
  border-left: 10px solid #f0ad4e;
}

.btn-breadcrumb .btn.btn-warning:not(:last-child):before {
  border-left: 10px solid #eea236;
}

.btn-breadcrumb .btn.btn-warning:hover:not(:last-child):after {
  border-left: 10px solid #ed9c28;
}

.btn-breadcrumb .btn.btn-warning:hover:not(:last-child):before {
  border-left: 10px solid #d58512;
}

/** Info button **/
.btn-breadcrumb .btn.btn-info:not(:last-child):after {
  border-left: 10px solid #5bc0de;
}

.btn-breadcrumb .btn.btn-info:not(:last-child):before {
  border-left: 10px solid #46b8da;
}

.btn-breadcrumb .btn.btn-info:hover:not(:last-child):after {
  border-left: 10px solid #39b3d7;
}

.btn-breadcrumb .btn.btn-info:hover:not(:last-child):before {
  border-left: 10px solid #269abc;
}

/** Navigation menu **/
.navigation_menu li {
  margin-bottom: 2px;
}

.navigation_menu .action i {
  padding: 5px;
  cursor: pointer;
}

.navigation_menu .label_text {
  margin-top: 5px;
  margin-bottom: 5px;
}

/** Chosen **/
.chosen-container-single .chosen-single, .chosen-container-multi .chosen-choices {
  border-radius: 4px;
}

.chosen-container-active.chosen-with-drop .chosen-single, .chosen-container-active .chosen-choices {
  border-radius: 4px 4px 0 0;
}

/** Menu http://firdaus.grandexa.com/2013/09/twitter-bootstrap-3-multilevel-dropdown-menu **/
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  /*display: block;*/
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -12px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}

.dropdown-submenu .pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

/** Chat wrapper **/
@import url(http://weloveiconfonts.com/api/?family=typicons);
[class*="typicons-"]:before {
  /*font-family: 'Typicons', sans-serif;*/
}

.chat_wrapper {
  background-color: whitesmoke;
}

.chat_wrapper_fixed {
  width: 300px;
  position: fixed;
  right: 20px;
  bottom: 0;
  z-index: 1030;
  background-color: whitesmoke;
}

.chat_wrapper_fixed i.fa {
  cursor: pointer;
}

.chat_header {
  background-color: #080808;
  color: white;
  padding: 0.5rem;
  position: relative;
  overflow: hidden;
  padding-top: 7px;
  padding-bottom: 7px;
}

.chat_header h1 {
  display: inline;
  font-size: 12px;
}

.chat_header .left {
  float: left;
  padding-left: 5px;
}

.chat_header .right {
  float: right;
  padding-right: 5px;
}

.chat_header > * {
  position: relative;
}

.chat_header::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  bottom: -100%;
  opacity: 0.25;
  background: radial-gradient(#ffffff, #000000);
  animation: pulse 1s ease alternate infinite;
}

.chat_discussion {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat_discussion li {
  padding: 0.5rem;
  overflow: hidden;
  display: flex;
}

.chat_discussion .avatar {
  width: 70px;
  position: relative;
}

.chat_discussion .avatar img {
  display: block;
  width: 100%;
}

.other .avatar:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 5px solid white;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.other .message {
  order: 1;
  border-top-left-radius: 0;
}

.self {
  justify-content: flex-end;
  align-items: flex-end;
}

.self .message {
  order: 1;
  border-bottom-right-radius: 0;
}

.self .avatar {
  order: 2;
}

.self .avatar:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 5px solid white;
  border-right-color: transparent;
  border-top-color: transparent;
}

.message {
  background: white;
  padding: 5px 10px 10px 10px;
  border-radius: 2px;
  /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);*/
  max-width: 290px;
}

.message p {
  font-size: 12px;
  margin: 0 0 0.2rem 0;
}

.message time {
  font-size: 12px;
  color: #ccc;
}

@keyframes pulse {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}

/** Chat form **/

.chat_footer {
  padding: 5px;
}

.chat_footer .message {
  /*height: 70px;*/
}

.chat_footer form[name=chat], .chat_footer form[name=init_chat] {
  padding: 0;
}

.chat_footer form[name=chat] .message {
  height: 70px;
}

p.is_writing {
  color: #ccc;
  font-size: 12px;
  margin: 0;
  display: none;
}

.message p.user_name {
  color: #ccc;
  font-size: 12px;
}

.slider {
  background: url("../img/home.png");
  background-position: center;
  background-repeat: no-repeat;
  min-height: 350px;
}

.slider_box {
  padding: 35px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 6px;
}

.slider p {
  font-size: 22px;
}

.container .jumbotron.slider_borrower {
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
}

.slider_borrower {
  background: url("../img/activate_borrower.png");
  background-position: center;
  background-repeat: no-repeat;
  min-height: 350px;
}

.slider_borrower_box {
  padding: 35px 35px 55px 35px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 6px;
}

.slider_borrower_box h2 {
  font-size: 16px;
  text-decoration: underline;
  margin-top: 0px;
  margin-bottom: 35px;
  /*text-align: center;*/
}

.slider_borrower_box p {
  font-size: 14px;
}

.container .jumbotron.slider_new_borrower {
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
}

.slider_new_borrower {
  background: url("../img/new_borrower.png");
  background-position: center;
  background-repeat: no-repeat;
  min-height: 350px;
}

.slider_payu_success {
  background: url("../img/payu_success.png");
  background-position: center;
  background-repeat: no-repeat;
  min-height: 350px;
}

.slider_payu_success_box {
  padding: 35px 35px 55px 35px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 6px;
}

.slider_payu_success_box h2 {
  font-size: 16px;
  text-decoration: underline;
  margin-top: 0px;
  margin-bottom: 35px;
  /*text-align: center;*/
}

.slider_payu_success_box p {
  font-size: 14px;
}

.container .jumbotron.slider_payu_success {
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
}