<?php $oUser = $this->user_data; ?>
<?php if ($oUser): ?>
  <span>Witaj, <?php echo trim($oUser->first_name . ' ' . $oUser->last_name); ?></span>
  <a
    href="<?php echo $this->url('user_index/user_index_process', array('action' => 'logout')); ?>"><?php echo $this->translate('Wyloguj'); ?></a>
<?php else: ?>
  <span>Witaj, <?php echo $this->translate('Nieznajomy'); ?></span>
  <a
    href="<?php echo $this->url('user_index/user_index_process', array('action' => 'login')); ?>"><?php echo $this->translate('Zaloguj'); ?></a>
<?php endif; ?>