<div class="row">
  <div class="col-md-6">
    <p><?php echo sprintf($this->translate('W celu dokonania %sopłaty aktywacyjnej%s w systemie biblioteczno-informacyjnym UAM potwierdź poniższe pola.'), '<strong>', '</strong>'); ?></p>
    <?php echo $this->partial("partials/default_form", array('form' => $this->payment_form, 'form_width' => 12, 'auto_trigger' => array('enable' => $this->auto_trigger, 'form_id' => 'payu'))); ?>
  </div>
  <div class="clearfix visible-sm visible-xs"></div>
  <div class="col-md-6 col-sm-12 col-xs-12">
    <div class="jumbotron slider_borrower">
      <div class="slider_borrower_box">
        <p><?php echo $this->translate('Raz założone konto biblioteczne wymaga corocznej aktualizacji. Warunkiem jej dokonania jest brak jakichkolwiek blokad finansowych na koncie czytelnika. W chwili przedłużenia ważności konta o okres kolejnego roku akademickiego – nabywacie Państwo prawo do korzystania z tradycyjnych oraz elektronicznych zasobów i usług bibliotek UAM.'); ?></p>
      </div>
    </div>
  </div>
</div>