<div class="row">
  <div class="col-md-12">
    <div class="table_container">
      <?php $sUniqueName = 'email_content_configuration_'; ?>
      <button class="add_first_new_form_modal btn btn-default" type="button" data-toggle="modal"
              data-target="#add_new_<?php echo $sUniqueName; ?>form_modal"><i
          class="fa fa-plus"></i><?php echo $this->translate('Nowy'); ?></button>
      <div class="table_control_panel">
        <?php echo $this->partial("partials/table_default_control_panel", array('edit_form_modal_id' => 'edit_' . $sUniqueName . 'form_modal', 'add_new_form_modal_id' => 'add_new_' . $sUniqueName . 'form_modal', 'confirm_delete_modal_id' => 'delete_' . $sUniqueName . 'confirm_modal')); ?>
      </div>
      <table class="table table-hover table_email_content_configuration">
        <thead>
        <tr>
          <th style="width:2%" data-column_name="id"><input class="checkbox check_all_top" type="checkbox"
                                                            name="checkbox"/></th>
          <th style="width:8%" data-column_name="table_default_row_buttons"><?php echo $this->translate(''); ?></th>
          <th style="width:12%"
              data-column_name="email_content_configuration_type_name"><?php echo $this->translate('Typ'); ?></th>
          <th style="width:12%" class="sortable filterable"
              data-column_name="trigger_action"><?php echo $this->translate('Nazwa akcji'); ?></th>
          <th style="width:30%" class="sortable filterable"
              data-column_name="subject"><?php echo $this->translate('Temat wiadomości'); ?></th>
          <th style="width:3%" data-column_name="active"><?php echo $this->translate(''); ?></th>
        </tr>
        </thead>
        <tbody></tbody>
      </table>
      <?php echo $this->partial("partials/table_default_row_buttons", array()); ?>
      <?php echo $this->partial("partials/confirm_modal", array('modal_id' => 'delete_' . $sUniqueName . 'confirm_modal', 'submit_button' => 'delete_' . $sUniqueName . 'button')); ?>
      <?php echo $this->partial("partials/default_form_modal", array('modal_id' => 'add_new_' . $sUniqueName . 'form_modal', 'modal_label' => $this->translate('Nowy'), 'form' => $this->add_new_email_content_configuration_form, 'action' => $this->url('application_email/application_email_process', array('action' => 'addemailcontentconfigurationajax')), 'form_width' => 12, 'action_method' => 'ajax')); ?>
      <?php echo $this->partial("partials/default_form_modal", array('modal_id' => 'edit_' . $sUniqueName . 'form_modal', 'modal_label' => $this->translate('Edytuj'), 'form' => $this->edit_email_content_configuration_form, 'action' => $this->url('application_email/application_email_process', array('action' => 'editemailcontentconfigurationajax')), 'form_width' => 12, 'action_method' => 'ajax')); ?>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="table_container">
      <?php $sUniqueName = 'email_configuration_'; ?>
      <button class="add_first_new_form_modal btn btn-default" type="button" data-toggle="modal"
              data-target="#add_new_<?php echo $sUniqueName; ?>form_modal"><i
          class="fa fa-plus"></i><?php echo $this->translate('Nowy'); ?></button>
      <div class="table_control_panel">
        <?php echo $this->partial("partials/table_default_control_panel", array('edit_form_modal_id' => 'edit_' . $sUniqueName . 'form_modal', 'add_new_form_modal_id' => 'add_new_' . $sUniqueName . 'form_modal', 'confirm_delete_modal_id' => 'delete_' . $sUniqueName . 'confirm_modal')); ?>
      </div>
      <table class="table table-hover table_email_configuration">
        <thead>
        <tr>
          <th style="width:2%" data-column_name="id"><input class="checkbox check_all_top" type="checkbox"
                                                            name="checkbox"/></th>
          <th style="width:8%" data-column_name="table_default_row_buttons"><?php echo $this->translate(''); ?></th>
          <th style="width:12%" class="sortable filterable"
              data-column_name="host"><?php echo $this->translate('Host'); ?></th>
          <th style="width:12%" class="sortable filterable"
              data-column_name="username"><?php echo $this->translate('Użytkownik'); ?></th>
          <th style="width:30%" class="sortable filterable"
              data-column_name="name"><?php echo $this->translate('Nazwa'); ?></th>
          <th style="width:30%" class="sortable filterable"
              data-column_name="from"><?php echo $this->translate('Od'); ?></th>
          <th style="width:3%" data-column_name="primary"><?php echo $this->translate(''); ?></th>
        </tr>
        </thead>
        <tbody></tbody>
      </table>
      <?php echo $this->partial("partials/table_default_row_buttons", array()); ?>
      <?php echo $this->partial("partials/confirm_modal", array('modal_id' => 'delete_' . $sUniqueName . 'confirm_modal', 'submit_button' => 'delete_' . $sUniqueName . 'button')); ?>
      <?php echo $this->partial("partials/default_form_modal", array('modal_id' => 'add_new_' . $sUniqueName . 'form_modal', 'modal_label' => $this->translate('Nowy'), 'form' => $this->add_new_email_configuration_form, 'action' => $this->url('application_email/application_email_process', array('action' => 'addemailconfigurationajax')), 'form_width' => 12, 'action_method' => 'ajax')); ?>
      <?php echo $this->partial("partials/default_form_modal", array('modal_id' => 'edit_' . $sUniqueName . 'form_modal', 'modal_label' => $this->translate('Edytuj'), 'form' => $this->edit_email_configuration_form, 'action' => $this->url('application_email/application_email_process', array('action' => 'editemailconfigurationajax')), 'form_width' => 12, 'action_method' => 'ajax')); ?>
    </div>
  </div>
</div>