<div class="row">
  <div class="col-md-12">
    <div class="table_container">
      <?php $sUniqueName = 'to_do_'; ?>
      <button class="add_first_new_form_modal btn btn-default" type="button" data-toggle="modal"
              data-target="#add_new_<?php echo $sUniqueName; ?>form_modal"><i
          class="fa fa-plus"></i><?php echo $this->translate('Nowy'); ?></button>
      <div class="table_control_panel">
        <?php echo $this->partial("partials/table_default_control_panel", array('edit_form_modal_id' => 'edit_' . $sUniqueName . 'form_modal', 'add_new_form_modal_id' => 'add_new_' . $sUniqueName . 'form_modal', 'confirm_delete_modal_id' => 'delete_' . $sUniqueName . 'confirm_modal')); ?>
      </div>
      <table class="table table-hover table_to_do">
        <thead>
        <tr>
          <th style="width:2%" data-column_name="id"><input class="checkbox check_all_top" type="checkbox"
                                                            name="checkbox"/></th>
          <th style="width:8%" data-column_name="table_default_row_buttons"><?php echo $this->translate(''); ?></th>
          <th style="width:30%" class="sortable filterable"
              data-column_name="description"><?php echo $this->translate('Opis'); ?></th>
          <th style="width:15%" class="sortable filterable" data-column_name="todo_priority_name"
              data-sort_column_name="todo_priority_id"
              data-filter_column_name="todo_priority.name"><?php echo $this->translate('Priorytet'); ?></th>
          <th style="width:15%" class="sortable filterable" data-column_name="user_created_date"
              data-sort_column_name="created_date"
              data-filter_column_name="created_date"><?php echo $this->translate('Data utworzenia'); ?></th>
          <th style="width:15%" class="sortable filterable" data-column_name="user_updated_date"
              data-sort_column_name="updated_date"
              data-filter_column_name="updated_date"><?php echo $this->translate('Data modyfikacji'); ?></th>
          <th style="width:3%" data-column_name="active"><?php echo $this->translate(''); ?></th>
        </tr>
        </thead>
        <tbody></tbody>
      </table>
      <?php echo $this->partial("partials/table_default_row_buttons", array()); ?>
      <?php echo $this->partial("partials/confirm_modal", array('modal_id' => 'delete_' . $sUniqueName . 'confirm_modal', 'submit_button' => 'delete_' . $sUniqueName . 'button')); ?>
      <?php echo $this->partial("partials/default_form_modal", array('modal_id' => 'add_new_' . $sUniqueName . 'form_modal', 'modal_label' => $this->translate('Nowy'), 'form' => $this->add_new_to_do_form, 'action' => $this->url('application_todo/application_todo_process', array('action' => 'addtodoajax')), 'form_width' => 12, 'action_method' => 'ajax')); ?>
      <?php echo $this->partial("partials/default_form_modal", array('modal_id' => 'edit_' . $sUniqueName . 'form_modal', 'modal_label' => $this->translate('Edytuj'), 'form' => $this->edit_to_do_form, 'action' => $this->url('application_todo/application_todo_process', array('action' => 'edittodoajax')), 'form_width' => 12, 'action_method' => 'ajax')); ?>
    </div>
  </div>
</div>