<div class="btn-group btn-breadcrumb">
  <a href="<?php echo $this->url('home') ?>" class="btn btn-default"><i class="fa fa-home"></i></a>
  <?php foreach ($this->pages as $oPage): ?>
    <?php $sLabel = str_replace('<b class="caret margin_left-5"></b>', '', $oPage->getLabel()); ?>
    <a href="<?php echo $oPage->getHref(); ?>" class="btn btn-default"><?php echo $sLabel; ?></a>
  <?php endforeach ?>
</div>
<hr>