<?php
$sModalId = 'confirm_delete_modal';
$sModalLabel = $this->translate('Potwierdzenie');
$sText = $this->translate('Czy na pewno chcesz usunąć wybrane elementy?');
$sSubmitButton = 'delete_button';
$sCancelButton = 'cancel_button';
$sSubmitButtonText = $this->translate('Tak, usuń');
$sSubmitButtonIcon = 'fa fa-trash-o';
$sCancelButtonIcon = '';
if (isset($this->modal_id)) {
  $sModalId = $this->modal_id;
}
if (isset($this->modal_label)) {
  $sModalLabel = $this->modal_label;
}
if (isset($this->text)) {
  $sText = $this->text;
}
if (isset($this->submit_button)) {
  $sSubmitButton = $this->submit_button;
}
if (isset($this->submit_button_text)) {
  $sSubmitButtonText = $this->submit_button_text;
}
if (isset($this->submit_button_icon)) {
  $sSubmitButtonIcon = $this->submit_button_icon;
}
if (isset($this->cancel_button)) {
  $sCancelButton = $this->cancel_button;
}
if (isset($this->cancel_button_icon)) {
  $sCancelButtonIcon = $this->cancel_button_icon;
}
?>
<div class="modal fade" id="<?php echo $sModalId; ?>" tabindex="-1" role="dialog"
     aria-labelledby="<?php echo $sModalId; ?>Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="<?php echo $sModalId; ?>Label"><?php echo $sModalLabel; ?></h4>
      </div>
      <div class="modal-body">
        <?php echo $sText; ?>
      </div>
      <div class="modal-footer">
        <button type="button" class="<?php echo $sCancelButton; ?> btn btn-default" data-dismiss="modal"><i
            class="<?php echo $sCancelButtonIcon; ?>"></i><?php echo $this->translate('Nie'); ?></button>
        <button type="button" class="<?php echo $sSubmitButton; ?> btn btn-success" data-dismiss="modal"><i
            class="<?php echo $sSubmitButtonIcon; ?>"></i><?php echo $sSubmitButtonText; ?></button>
      </div>
    </div>
  </div>
</div>