<div class="modal fade" id="<?php echo $this->modal_id; ?>" tabindex="-1" role="dialog"
     aria-labelledby="<?php echo $this->modal_id; ?>Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="<?php echo $this->modal_id; ?>Label"><?php echo $this->modal_label; ?></h4>
      </div>
      <div class="modal-body">
        <?php echo $this->partial("partials/default_form", array('form' => $this->form, 'action' => $this->action, 'form_width' => $this->form_width, 'action_method' => $this->action_method, 'auto_trigger' => $this->auto_trigger)); ?>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"
                data-dismiss="modal"><?php echo $this->translate('Anuluj'); ?></button>
      </div>
    </div>
  </div>
</div>