<?php $oForm = $this->form; ?>
<?php if (isset($oForm)) { ?>
  <?php
  $oForm->setAttribute('method', 'post');
  if (isset($this->action)) {
    $oForm->setAttribute('action', $this->action);
  }
  $sActionType = is_null($this->action_method) ? 'post' : $this->action_method;
  $nFormColWidth = is_null($this->form_width) ? 5 : $this->form_width;
  $aFormTabs = $oForm->getFormTabs();
  $aAutoTrigger = $this->auto_trigger;
  $sFormInstanceHash = '_' . md5((time() * rand(1, 100000000)) / rand(1, 100000000));
  $nId = $this->id;
  $oForm->prepare();
  ?>
  <?php if ((count($aFormTabs))) { ?>
    <?php $bFormTabs = true; ?>
    <?php if (count($aFormTabs)) { ?>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><?php echo $this->translate('Zakładki formularza'); ?></h3>
        </div>
        <div class="panel-body">
          <ul class="nav nav-tabs">
            <?php $nIdx = 0; ?>
            <?php foreach ($aFormTabs as $sTabName => $aElements) { ?>
              <li class="<?php echo $nIdx == 0 ? 'active' : ''; ?>">
                <a href="#tab_<?php echo $sTabName; ?><?php echo $sFormInstanceHash; ?>" data-toggle="tab">
                  <?php echo $this->translate($aFormTabs[$sTabName]['label'] != null ? $aFormTabs[$sTabName]['label'] : ''); ?>
                </a>
              </li>
              <?php unset($aFormTabs[$sTabName]['label']); ?>
              <?php $nIdx++; ?>
            <?php } ?>
          </ul>
        </div>
      </div>
    <?php } ?>
  <?php } ?>
  <div class="row">
    <div class="col-md-<?php echo $nFormColWidth; ?>">
      <?php echo $this->form()->openTag($oForm); ?>
      <?php if (count($aFormTabs)) { ?>
        <div class="tab-content">
          <?php $nIdx = 0; ?>
          <?php foreach ($aFormTabs as $sTabName => $aElements) { ?>
            <div class="<?php echo $nIdx == 0 ? 'tab-pane active' : 'tab-pane'; ?>"
                 id="tab_<?php echo $sTabName; ?><?php echo $sFormInstanceHash; ?>">
              <?php $nIndex = 1; ?>
              <?php foreach ($aElements as $sElementName) { ?>
                <?php $oElement = $oForm->get($sElementName); ?>
                <?php if ($oElement instanceof Zend\Form\Element) { ?>
                  <?php
                  $oElement->removeAttribute('class');
                  $oElement->setLabel($oElement->getLabel() != null ? $this->translate($oElement->getLabel()) : '');
                  if ($oElement->hasAttribute('placeholder')) {
                    $oElement->setAttribute('data-placeholder', $oElement->getAttribute('placeholder'));
                  } else {
                    $oElement->setAttribute('placeholder', $oElement->getLabel());
                    $oElement->setAttribute('data-placeholder', $oElement->getLabel());
                  }
                  if ($oElement->hasAttribute('class') && $oElement->getOption('class')) {
                    $oElement->setAttribute('class', $oElement->getName() . ' ' . $oElement->getAttribute('class') . ' ' . $oElement->getOption('class'));
                  } else if ($oElement->hasAttribute('class') && !$oElement->getOption('class')) {
                    $oElement->setAttribute('class', $oElement->getName() . ' ' . $oElement->getAttribute('class'));
                  } else if (!$oElement->hasAttribute('class') && $oElement->getOption('class')) {
                    $oElement->setAttribute('class', $oElement->getName() . ' ' . $oElement->getOption('class'));
                  } else {
                    $oElement->setAttribute('class', $oElement->getName());
                  }
                  if ($oForm->getInitInputFilter()) {
                    $sReqired = $oForm->getInputFilter()->get($oElement->getName())->isRequired() == true ? ' required' : '';
                  }
                  if ($oElement->getOption('fake_required')) {
                    $sReqired = ' required';
                    $nFakeRequiredElementDepend = '';
                    if (is_array($oElement->getOption('fake_required'))) {
                      foreach ($oElement->getOption('fake_required') as $nKey => $sValue) {
                        if ($nKey) {
                          $nFakeRequiredElementDepend .= ' ';
                        }
                        $nFakeRequiredElementDepend .= $sValue;
                      }
                    } else if ($oElement->getOption('fake_required')) {
                      $nFakeRequiredElementDepend = $oElement->getOption('fake_required');
                    }
                    $nFakeRequiredElementDepend = trim($nFakeRequiredElementDepend);
                    if (strlen($nFakeRequiredElementDepend)) {
                      $oElement->setAttribute('class', $oElement->getAttribute('class') . ' fake_required');
                      $oElement->setAttribute('data-fake_required_depend_element', $nFakeRequiredElementDepend);
                    }
                  }
                  if ($oElement->getOption('title_tooltip') && !$oElement->getOption('title_popover')) {
                    $oElement
                      ->setAttribute('class', $oElement->getAttribute('class') . ' title_tooltip')
                      ->setAttribute('data-toggle', 'tooltip')
                      ->setAttribute('data-placement', 'right')
                      ->setAttribute('title', $this->translate($oElement->getOption('title_tooltip')));
                  }
                  if (!$oElement->getOption('title_tooltip') && $oElement->getOption('title_popover')) {
                    $oElement
                      ->setAttribute('class', $oElement->getAttribute('class') . ' title_popover')
                      ->setAttribute('data-toggle', 'popover')
                      ->setAttribute('data-placement', 'right')
                      ->setAttribute('data-container', 'body')
                      ->setAttribute('title', sprintf($this->translate('%s Wskazówka'), '<i class="fa fa-lightbulb-o fa-lg"></i>'))
                      ->setAttribute('data-content', $this->translate($oElement->getOption('title_popover')));
                  }
                  if ($oElement->getOption('modal_title_tooltip') && !$oElement->getOption('modal_title_popover')) {
                    $oElement
                      ->setAttribute('class', $oElement->getAttribute('class') . ' modal_title_tooltip')
                      ->setAttribute('data-toggle', 'tooltip')
                      ->setAttribute('data-placement', 'right')
                      ->setAttribute('title', $this->translate($oElement->getOption('title_tooltip')));
                  }
                  if (!$oElement->getOption('modal_title_tooltip') && $oElement->getOption('modal_title_popover')) {
                    $oElement
                      ->setAttribute('class', $oElement->getAttribute('class') . ' modal_title_popover')
                      ->setAttribute('data-toggle', 'popover')
                      ->setAttribute('data-placement', 'right')
                      ->setAttribute('data-container', 'body')
                      ->setAttribute('title', sprintf($this->translate('%s Wskazówka'), '<i class="fa fa-lightbulb-o fa-lg"></i>'))
                      ->setAttribute('data-content', $this->translate($oElement->getOption('modal_title_popover')));
                  }
                  if ($oElement->getOption('default_value')) {
                    $oElement->setAttribute('data-default_value', $oElement->getOption('default_value'));
                  }
                  $oElement->setAttribute('data-index', $nIndex++);
                  ?>
                  <dl
                    class="<?php echo $this->formElementErrors($oElement) ? 'form-group has-error' : 'form-group'; ?>">
                    <?php if ($oElement->getAttribute('type') == 'hidden') { ?>
                      <dd>
                        <?php echo $this->formElement($oElement); ?>
                      </dd>
                    <?php } else if ($oElement->getAttribute('type') == 'textarea') { ?>
                      <dt>
                        <label class="<?php echo 'control-label' . $sReqired; ?>">
                          <?php echo $oElement->getLabel() != null ? $oElement->getLabel() . ':' : ''; ?>
                        </label>
                      </dt>
                      <?php $oElement
                        ->setAttribute('id', $oElement->getName() . $sFormInstanceHash)
                        ->setAttribute('class', $oElement->getAttribute('class') . ' form-control');
                      ?>
                      <dd>
                        <?php echo $this->formElement($oElement); ?>
                      </dd>
                    <?php } else if ($oElement->getAttribute('type') == 'checkbox') { ?>
                      <dd class="col-md-1 padding-0">
                        <?php echo $this->formElement($oElement); ?>
                      </dd>
                      <dt class="col-md-11 padding-0">
                        <label class="control-label">
                          <?php echo $oElement->getLabel(); ?>
                        </label>
                      </dt>
                      <div class="clearfix"></div>
                    <?php } else if ($oElement->getAttribute('type') == 'select') { ?>
                      <dt>
                        <label class="<?php echo 'control-label' . $sReqired; ?>">
                          <?php echo $oElement->getLabel() != null ? $oElement->getLabel() . ':' : ''; ?>
                        </label>
                      </dt>
                      <?php $oElement->setAttribute('class', $oElement->getAttribute('class') . ' form-control'); ?>
                      <dd>
                        <?php echo $this->formElement($oElement); ?>
                      </dd>
                    <?php } else { ?>
                      <dt>
                        <label class="<?php echo 'control-label' . $sReqired; ?>">
                          <?php echo $oElement->getLabel() != null ? $oElement->getLabel() . ':' : ''; ?>
                        </label>
                      </dt>
                      <?php $oElement->setAttribute('class', $oElement->getAttribute('class') . ' form-control'); ?>
                      <dd>
                        <?php echo $this->formElement($oElement); ?>
                      </dd>
                    <?php } ?>
                    <?php if ($this->formElementErrors($oElement)) { ?>
                      <?php echo $this->formElementErrors()->setMessageOpenFormat('<p class="help-block">')->setMessageSeparatorString('</p><p class="help-block">')->setMessageCloseString('</p>')->render($oElement); ?>
                    <?php } ?>
                  </dl>
                <?php } ?>
              <?php } ?>
            </div>
            <?php $nIdx++; ?>
          <?php } ?>
        </div>
        <?php $oElement = $oForm->get('csrf'); ?>
        <?php if ($oElement instanceof Zend\Form\Element) { ?>
          <?php $oElement->setAttribute('class', $oElement->getName()); ?>
          <dl class="<?php echo $this->formElementErrors($oElement) ? 'form-group has-error' : 'form-group'; ?>">
            <dd>
              <?php echo $this->formElement($oElement); ?>
            </dd>
          </dl>
        <?php } ?>
        <?php $oElement = $oForm->get('form_name'); ?>
        <?php if ($oElement instanceof Zend\Form\Element) { ?>
          <?php $oElement->setAttribute('class', $oElement->getName()); ?>
          <dl class="<?php echo $this->formElementErrors($oElement) ? 'form-group has-error' : 'form-group'; ?>">
            <dd>
              <?php echo $this->formElement($oElement); ?>
            </dd>
          </dl>
        <?php } ?>
        <?php $oElement = $oForm->get('id'); ?>
        <?php if ($oElement instanceof Zend\Form\Element) { ?>
          <?php $oElement->setAttribute('class', $oElement->getName()); ?>
          <?php (isset($nId) && is_numeric($nId)) ? $oElement->setValue($nId) : '' ?>
          <dl class="<?php echo $this->formElementErrors($oElement) ? 'form-group has-error' : 'form-group'; ?>">
            <dd>
              <?php echo $this->formElement($oElement); ?>
            </dd>
          </dl>
        <?php } ?>
        <?php $oElement = $oForm->get('submit_button'); ?>
        <?php if ($oElement instanceof Zend\Form\Element) { ?>
          <?php $oElement->setAttribute('class', $oElement->getName()); ?>
          <dl class="<?php echo $this->formElementErrors($oElement) ? 'form-group has-error' : 'form-group'; ?>">
            <?php $oElement->setAttribute('class', $oElement->getAttribute('class') . ' btn btn-success ladda-button'); ?>
            <?php $oElement->setAttribute('data-style', 'slide-up'); ?>
            <dd>
              <?php echo $this->formElement($oElement); ?>
              <?php if (isset($sActionType)) { ?>
                <input data-action_method="<?php echo $sActionType; ?>" class="fake_submit hidden" name="submit"
                       type="submit">
              <?php } else { ?>
                <input class="fake_submit hidden" name="submit" type="submit">
              <?php } ?>
            </dd>
          </dl>
        <?php } ?>
      <?php } else { ?>
        <?php $nIndex = 1; ?>
        <?php foreach ($oForm as $oElement) { ?>
          <?php
          $oElement->removeAttribute('class');
          $oElement->setLabel($oElement->getLabel() != null ? $this->translate($oElement->getLabel()) : '');
          if ($oElement->hasAttribute('placeholder')) {
            $oElement->setAttribute('data-placeholder', $oElement->getAttribute('placeholder'));
          } else {
            $oElement->setAttribute('placeholder', $oElement->getLabel());
            $oElement->setAttribute('data-placeholder', $oElement->getLabel());
          }
          if ($oElement->hasAttribute('class') && $oElement->getOption('class')) {
            $oElement->setAttribute('class', $oElement->getName() . ' ' . $oElement->getAttribute('class') . ' ' . $oElement->getOption('class'));
          } else if ($oElement->hasAttribute('class') && !$oElement->getOption('class')) {
            $oElement->setAttribute('class', $oElement->getName() . ' ' . $oElement->getAttribute('class'));
          } else if (!$oElement->hasAttribute('class') && $oElement->getOption('class')) {
            $oElement->setAttribute('class', $oElement->getName() . ' ' . $oElement->getOption('class'));
          } else {
            $oElement->setAttribute('class', $oElement->getName());
          }
          if ($oForm->getInitInputFilter()) {
            $sReqired = $oForm->getInputFilter()->get($oElement->getName())->isRequired() == true ? ' required' : '';
          }
          if ($oElement->getOption('fake_required')) {
            $sReqired = ' required';
            $nFakeRequiredElementDepend = '';
            if (is_array($oElement->getOption('fake_required'))) {
              foreach ($oElement->getOption('fake_required') as $nKey => $sValue) {
                if ($nKey) {
                  $nFakeRequiredElementDepend .= ' ';
                }
                $nFakeRequiredElementDepend .= $sValue;
              }
            } else if ($oElement->getOption('fake_required')) {
              $nFakeRequiredElementDepend = $oElement->getOption('fake_required');
            }
            $nFakeRequiredElementDepend = trim($nFakeRequiredElementDepend);
            if (strlen($nFakeRequiredElementDepend)) {
              $oElement->setAttribute('class', $oElement->getAttribute('class') . ' fake_required');
              $oElement->setAttribute('data-fake_required_depend_element', $nFakeRequiredElementDepend);
            }
          }
          if ($oElement->getOption('title_tooltip') && !$oElement->getOption('title_popover')) {
            $oElement
              ->setAttribute('class', $oElement->getAttribute('class') . ' title_tooltip')
              ->setAttribute('data-toggle', 'tooltip')
              ->setAttribute('data-placement', 'right')
              ->setAttribute('title', $this->translate($oElement->getOption('title_tooltip')));
          }
          if (!$oElement->getOption('title_tooltip') && $oElement->getOption('title_popover')) {
            $oElement
              ->setAttribute('class', $oElement->getAttribute('class') . ' title_popover')
              ->setAttribute('data-toggle', 'popover')
              ->setAttribute('data-placement', 'right')
              ->setAttribute('data-container', 'body')
              ->setAttribute('title', sprintf($this->translate('%s Wskazówka'), '<i class="fa fa-lightbulb-o fa-lg"></i>'))
              ->setAttribute('data-content', $this->translate($oElement->getOption('title_popover')));
          }
          if ($oElement->getOption('modal_title_tooltip') && !$oElement->getOption('modal_title_popover')) {
            $oElement
              ->setAttribute('class', $oElement->getAttribute('class') . ' modal_title_tooltip')
              ->setAttribute('data-toggle', 'tooltip')
              ->setAttribute('data-placement', 'right')
              ->setAttribute('title', $this->translate($oElement->getOption('title_tooltip')));
          }
          if (!$oElement->getOption('modal_title_tooltip') && $oElement->getOption('modal_title_popover')) {
            $oElement
              ->setAttribute('class', $oElement->getAttribute('class') . ' modal_title_popover')
              ->setAttribute('data-toggle', 'popover')
              ->setAttribute('data-placement', 'right')
              ->setAttribute('data-container', 'body')
              ->setAttribute('title', sprintf($this->translate('%s Wskazówka'), '<i class="fa fa-lightbulb-o fa-lg"></i>'))
              ->setAttribute('data-content', $this->translate($oElement->getOption('modal_title_popover')));
          }
          if ($oElement->getOption('default_value')) {
            $oElement->setAttribute('data-default_value', $oElement->getOption('default_value'));
          }
          $oElement->setAttribute('data-index', $nIndex++);
          ?>
          <dl class="<?php echo $this->formElementErrors($oElement) ? 'form-group has-error' : 'form-group'; ?>">
            <?php if ($oElement->getAttribute('type') == 'hidden') { ?>
              <dd>
                <?php if ($oElement->getName() == 'id' && isset($nId) && is_numeric($nId)) { ?>
                  <?php $oElement->setValue($nId); ?>
                <?php } ?>
                <?php echo $this->formElement($oElement); ?>
              </dd>
            <?php } else if ($oElement->getAttribute('type') == 'textarea') { ?>
              <dt>
                <label class="<?php echo 'control-label' . $sReqired; ?>">
                  <?php echo $oElement->getLabel() != null ? $oElement->getLabel() . ':' : ''; ?>
                </label>
              </dt>
              <?php $oElement->setAttribute('id', $oElement->getName() . $sFormInstanceHash)->setAttribute('class', $oElement->getAttribute('class') . ' form-control'); ?>
              <dd>
                <?php echo $this->formElement($oElement); ?>
              </dd>
            <?php } else if ($oElement->getAttribute('type') == 'checkbox') { ?>
              <dd class="col-md-1 padding-0">
                <?php echo $this->formElement($oElement); ?>
              </dd>
              <dt class="col-md-11 padding-0">
                <label class="control-label">
                  <?php echo $oElement->getLabel(); ?>
                </label>
              </dt>
              <div class="clearfix"></div>
            <?php } else if ($oElement->getAttribute('type') == 'select') { ?>
              <dt>
                <label class="<?php echo 'control-label' . $sReqired; ?>">
                  <?php echo $oElement->getLabel() != null ? $oElement->getLabel() . ':' : ''; ?>
                </label>
              </dt>
              <?php $oElement->setAttribute('class', $oElement->getAttribute('class') . ' form-control'); ?>
              <dd>
                <?php echo $this->formElement($oElement); ?>
              </dd>
            <?php } else if ($oElement->getAttribute('type') == 'button' && $oElement->getName() == 'submit_button') { ?>
              <?php $oElement->setAttribute('class', $oElement->getAttribute('class') . ' btn btn-success ladda-button'); ?>
              <?php $oElement->setAttribute('data-style', 'slide-up'); ?>
              <dd>
                <?php echo $this->formElement($oElement); ?>
                <?php if (isset($sActionType)) { ?>
                  <input data-action_method="<?php echo $sActionType; ?>" class="fake_submit hidden" name="submit"
                         type="submit">
                <?php } else { ?>
                  <input class="fake_submit hidden" name="submit" type="submit">
                <?php } ?>
              </dd>
            <?php } else if ($oElement->getAttribute('type') == 'button' && $oElement->getName() == 'hidden_submit_button') { ?>
              <input class="fake_submit hidden" name="submit" type="submit">
            <?php } else { ?>
              <dt>
                <label class="<?php echo 'control-label' . $sReqired; ?>">
                  <?php echo $oElement->getLabel() != null ? $oElement->getLabel() . ':' : ''; ?>
                </label>
              </dt>
              <?php $oElement->setAttribute('class', $oElement->getAttribute('class') . ' form-control'); ?>
              <dd>
                <?php echo $this->formElement($oElement); ?>
              </dd>
            <?php } ?>
            <?php if ($this->formElementErrors($oElement)) { ?>
              <?php echo $this->formElementErrors()->setMessageOpenFormat('<p class="help-block">')->setMessageSeparatorString('</p><p class="help-block">')->setMessageCloseString('</p>')->render($oElement); ?>
            <?php } ?>
          </dl>
        <?php } ?>
      <?php } ?>
      <?php echo $this->form()->closeTag(); ?>
    </div>
  </div>
<?php } ?>
<?php if (isset($aAutoTrigger) && $aAutoTrigger['enable'] === true) { ?>
  <script type="text/javascript">
    $(document).ready(function () {
      $('<?php echo '#' . $aAutoTrigger['form_id']; ?> .fake_submit').trigger('click');
    });
  </script>
<?php } ?>