<?php
$sModalId = 'empty_result_modal';
$sModalLabel = $this->translate('Brak wyników');
$sText = $this->translate('Brak wyników dla podanych parametrów filtrowania');
$sSubmitButton = 'ok_button';
$sSubmitButtonText = $this->translate('Ok');
$sSubmitButtonIcon = '';
if (isset($this->modal_id)) {
  $sModalId = $this->modal_id;
}
if (isset($this->modal_label)) {
  $sModalLabel = $this->modal_label;
}
if (isset($this->text)) {
  $sText = $this->text;
}
if (isset($this->submit_button)) {
  $sSubmitButton = $this->submit_button;
}
if (isset($this->submit_button_text)) {
  $sSubmitButtonText = $this->submit_button_text;
}
if (isset($this->submit_button_icon)) {
  $sSubmitButtonIcon = $this->submit_button_icon;
}
?>
<div class="modal fade" id="<?php echo $sModalId; ?>" tabindex="-1" role="dialog"
     aria-labelledby="<?php echo $sModalId; ?>Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="<?php echo $sModalId; ?>Label"><?php echo $sModalLabel; ?></h4>
      </div>
      <div class="modal-body">
        <?php echo $sText; ?>
      </div>
      <div class="modal-footer">
        <button type="button" class="<?php echo $sSubmitButton; ?> btn btn-default" data-dismiss="modal"><i
            class="<?php echo $sSubmitButtonIcon; ?>"></i><?php echo $sSubmitButtonText; ?></button>
      </div>
    </div>
  </div>
</div>