<div class="row_buttons hidden">
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <i class="fa fa-cogs"></i><b class="caret margin_left-5"></b>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#" class="row_edit_button"><i
            class="fa fa-pencil-square-o"></i><?php echo $this->translate('Edytuj'); ?></a></li>
      <li><a href="#" class="row_copy_button"><i class="fa fa-copy"></i><?php echo $this->translate('Kopiuj'); ?></a>
      </li>
      <li><a href="#" class="row_delete_button"><i class="fa fa-trash-o"></i><?php echo $this->translate('Usuń'); ?></a>
      </li>
    </ul>
  </div>
</div>