<?php $oCart = $this->all['cart']; ?>
<?php if ($oCart): ?>
  <a href="<?php echo $this->url('shop_cart/shop_cart_process', array('action' => 'items')) ?>">
    <i class="fa fa-shopping-cart"></i>
    <span><?php echo $this->translate($this->all['description']); ?></span>
    (
    <span class="cart_sum_price_gross"><?php echo $oCart->cart_sum_price_gross; ?></span>
    <span><?php echo $this->translate('PLN'); ?></span>
    )
  </a>
<?php endif; ?>