<?php
$sEditModalId = 'edit_form_modal';
$sAddNewModalId = 'add_new_form_modal';
$sConfirmDeleteModalId = 'confirm_delete_modal';
if (isset($this->edit_form_modal_id)) {
  $sEditModalId = $this->edit_form_modal_id;
}
if (isset($this->add_new_form_modal_id)) {
  $sAddNewModalId = $this->add_new_form_modal_id;
}
if (isset($this->confirm_delete_modal_id)) {
  $sConfirmDeleteModalId = $this->confirm_delete_modal_id;
}
?>
<div class="control_panel">
  <button class="reset_button btn btn-default ladda-button" type="button" data-style="slide-up"
          data-spinner-color="#333"><i class="fa fa-refresh"></i><?php echo $this->translate('Odśwież'); ?></button>
  <button class="filter_button btn btn-default ladda-button" type="button" data-style="slide-up"
          data-spinner-color="#333"><i class="fa fa-filter"></i><?php echo $this->translate('Filtruj'); ?></button>
  <button class="edit_form_modal btn btn-default ladda-button" type="button" data-style="slide-up"
          data-spinner-color="#333" data-toggle="modal" data-target="#<?php echo $sEditModalId; ?>"><i
      class="fa fa-pencil-square-o"></i><?php echo $this->translate('Edytuj'); ?></button>
  <button class="confirm_delete_modal btn btn-default" type="button" data-toggle="modal"
          data-target="#<?php echo $sConfirmDeleteModalId; ?>"><i
      class="fa fa-trash-o"></i><?php echo $this->translate('Usuń'); ?></button>
  <button class="add_new_form_modal btn btn-default" type="button" data-toggle="modal"
          data-target="#<?php echo $sAddNewModalId; ?>"><i
      class="fa fa-plus"></i><?php echo $this->translate('Nowy'); ?></button>
  <button class="add_to_cart_button btn btn-default ladda-button" type="button" data-style="slide-up"
          data-spinner-color="#333"><i
      class="fa fa-shopping-cart"></i><?php echo $this->translate('Dodaj do koszyka'); ?></button>
</div>
<div class="clearfix"></div>
<div class="control_panel">
  <ul class="pagination pull-left"></ul>
  <select class="number_of_rows_per_page pull-left">
    <option value="1">1</option>
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="20" selected="selected">20</option>
    <option value="50">50</option>
    <option value="100">100</option>
    <option value="200">200</option>
  </select>
</div>
<div class="clearfix"></div>