<?php echo $this->doctype(); ?>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <?php echo $this->headTitle(); ?>
  <?php
  echo $this->headMeta()
    ->appendName('viewport', 'width=device-width, initial-scale=1.0')
    ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
  ?>
  <!-- Le styles -->
  <?php
  echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
    ->prependStylesheet("//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css")
    ->prependStylesheet($this->basePath() . '/css/style.css')
    ->prependStylesheet($this->basePath() . '/css/chosen.css')
    ->prependStylesheet($this->basePath() . '/css/datepicker.css')
    ->prependStylesheet('//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    ->prependStylesheet('//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css')
    ->prependStylesheet('//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
    ->prependStylesheet('//lab.hakim.se/ladda/dist/ladda.min.css')
    ->prependStylesheet('http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css')//fileupload
    ->prependStylesheet($this->basePath() . '/css/fileupload/style.css')
    ->prependStylesheet($this->basePath() . '/css/fileupload/jquery.fileupload.css')
    ->prependStylesheet($this->basePath() . '/css/fileupload/jquery.fileupload-ui.css')
    ->prependStylesheet($this->basePath() . '/css/nestable.css')
    ->prependStylesheet($this->basePath() . '/css/jcountdown.css')
  ?>
  <!-- Scripts -->
  <?php
  echo $this->headScript()
    ->prependFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9', 'async' => 'async'))
    ->prependFile($this->basePath() . '/js/html5shiv.js', 'text/javascript', array('conditional' => 'lt IE 9', 'async' => 'async'))
    ->prependFile('//lab.hakim.se/ladda/dist/ladda.min.js')
    ->prependFile('//lab.hakim.se/ladda/dist/spin.min.js')
    ->prependFile('//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.jquery.js')//http://alxlit.github.io/bootstrap-chosen/ http://harvesthq.github.io/chosen/
    ->prependFile('//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    ->prependFile("//code.jquery.com/ui/1.11.1/jquery-ui.js")
    ->prependFile('//code.jquery.com/jquery-2.1.1.js')
    ->appendFile($this->basePath() . '/js/bootstrap-datepicker.js')
    //->appendFile($this->basePath() . '/js/bootstrap-datepicker.pl.js')
    ->appendFile($this->basePath() . '/js/jquery.nestable.js')//https://github.com/dbushell/Nestable
    ->appendFile($this->basePath() . '/js/application.js')
    ->appendFile('//crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js')
    ->appendFile('//crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha3.js')
    ->appendFile($this->basePath() . '/js/ckeditor/ckeditor.js')
    ->appendFile($this->basePath() . '/js/ckeditor/adapters/jquery.js')
  ?>
</head>
<body>
<div id="ajax_overlay_success">
  <p><i
      class="fa fa-spinner fa-spin fa-3x margin_bottom-10"></i><br/> <?php echo $this->translate('Proszę czekać, trwa przekazywanie informacji...'); ?>
  </p>
</div>
<div id="ajax_overlay_error">
  <p><i class="fa fa-spinner fa-spin fa-3x margin_bottom-10"></i> <?php echo $this->translate('Wystąpił błąd.'); ?></p>
</div>
<div id="ajax_overlay_reload">
  <p><i
      class="fa fa-spinner fa-spin fa-3x margin_bottom-10"></i><br/> <?php echo $this->translate('Proszę czekać, trwa przekazywanie informacji...'); ?>
  </p>
</div>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="row">
      <?php if ($this->resolver('partials/user_data')): ?>
        <div class="col-md-12 user_data">
          <?php echo $this->partial("partials/user_data", array('user_data' => $this->UserData())); ?>
        </div>
      <?php endif; ?>
      <div class="col-md-12 cart">
        <?php if ($this->resolver('partials/cart')): ?>
          <?php echo $this->partial("partials/cart", array('all' => $this->Cart())); ?>
        <?php endif; ?>
      </div>
      <div class="col-md-12">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse">
          <?php $oContainer = $this->navigation('Navigation')->getContainer(); ?>
          <?php echo $this->ApplicationMenu($oContainer)->setUlClass('nav navbar-nav')->escapeLabels(false); ?>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <?php echo $this->navigation('Navigation')->breadcrumbs()->setMinDepth(0)->setPartial('partials/breadcrumbs'); ?>
  <?php echo $this->content; ?>
  <div class="clearfix"></div>
  <hr>
  <footer>
    <p><a href="http://zapisy.ebiblioteka.edu.pl/regulamin.pdf"
          target="_blank"><?php echo $this->translate('REGULAMIN USŁUGI'); ?></a></p>
    <p>&copy; <?php echo date('Y') ?>&nbsp;<a href="http://lib.amu.edu.pl">Biblioteka Uniwersytecka im. Adama
        Mickiewicza w Poznaniu</a></p>
    <?php echo $this->translate('') ?>
  </footer>
  <?php echo $this->partial("partials/empty_result_modal", array()); ?>
</div>
<?php echo $this->inlineScript() ?>
</body>
</html>