<div class="row">
  <div class="col-md-7 col-sm-12 col-xs-12">
    <?php echo $this->message; ?>
  </div>
  <div class="clearfix visible-sm visible-xs"></div>
  <div class="col-md-5 col-sm-12 col-xs-12">
    <div class="jumbotron slider_payu_success">
      <div class="slider_payu_success_box">
        <p class="pull-left"><?php echo $this->translate('Dziękujemy!'); ?></p>

        <p class="pull-right"><a href="http://lib.amu.edu.pl" target="_blank">Biblioteka Uniwersytecka im. Adama
            Mickiewicza w Poznaniu</a></p>

        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>