<div class="table_container">
  <div class="table_control_panel">
    <?php echo $this->partial("partials/table_items_control_panel", array()); ?>
  </div>
  <table class="table table-hover table_items">
    <thead>
    <tr>
      <th style="width:2%" data-column_name="id"><input class="checkbox check_all_top" type="checkbox" name="checkbox"/>
      </th>
      <th style="width:8%" data-column_name="table_default_row_buttons"><?php echo $this->translate(''); ?></th>
      <th style="width:50%" class="sortable filterable"
          data-column_name="name"><?php echo $this->translate('Nazwa produktu'); ?></th>
      <th style="width:20%" class="sortable filterable"
          data-column_name="price_net"><?php echo $this->translate('Cena netto'); ?></th>
      <th style="width:20%" class="sortable filterable"
          data-column_name="price_gross"><?php echo $this->translate('Cena brutto'); ?></th>
    </tr>
    </thead>
    <tbody></tbody>
  </table>
  <?php echo $this->partial("partials/table_items_row_buttons", array()); ?>
  <?php echo $this->partial("partials/confirm_modal", array()); ?>
  <?php echo $this->partial("partials/default_form_modal", array('modal_id' => 'add_new_form_modal', 'modal_label' => $this->translate('Nowy'), 'form' => $this->add_new_item_form, 'action' => $this->url('shop_index/shop_index_process', array('action' => 'additemajax')), 'form_width' => 12, 'action_method' => 'ajax')); ?>
  <?php echo $this->partial("partials/default_form_modal", array('modal_id' => 'edit_form_modal', 'modal_label' => $this->translate('Edytuj'), 'form' => $this->edit_item_form, 'action' => $this->url('shop_index/shop_index_process', array('action' => 'edititemajax')), 'form_width' => 12, 'action_method' => 'ajax')); ?>
</div>