<div class="row">
  <div class="col-md-6">
    <div class="tabs_form_container">
      <?php echo $this->partial("partials/default_form", array('form' => $this->form, 'action' => $this->url('user_index/user_index_process', array('action' => 'register')), 'form_width' => 12)); ?>
    </div>
  </div>
</div>