<div class="table_container">
  <button class="add_first_new_form_modal btn btn-default" type="button" data-toggle="modal"
          data-target="#add_new_form_modal"><i class="fa fa-plus"></i><?php echo $this->translate('Nowy'); ?></button>
  <div class="table_control_panel">
    <?php echo $this->partial("partials/table_default_control_panel", array()); ?>
  </div>
  <table class="table table-hover table_users">
    <thead>
    <tr>
      <th style="width:2%" data-column_name="id"><input class="checkbox check_all_top" type="checkbox" name="checkbox"/>
      </th>
      <th style="width:8%" data-column_name="table_default_row_buttons"><?php echo $this->translate(''); ?></th>
      <th style="width:17%" class="sortable filterable"
          data-column_name="email_address"><?php echo $this->translate('Adres e-mail'); ?></th>
      <th style="width:15%" class="sortable filterable"
          data-column_name="nick"><?php echo $this->translate('Nazwa użytkownika'); ?></th>
      <th style="width:15%" class="sortable filterable"
          data-column_name="first_name"><?php echo $this->translate('Imię'); ?></th>
      <th style="width:15%" class="sortable filterable"
          data-column_name="last_name"><?php echo $this->translate('Nazwisko'); ?></th>
      <th style="width:13%" class="sortable filterable"
          data-column_name="phone_number"><?php echo $this->translate('Numer telefonu'); ?></th>
      <th style="width:12%"
          data-column_name="user_category_name"><?php echo $this->translate('Kategoria użytkownika'); ?></th>
      <th style="width:3%" data-column_name="active"><?php echo $this->translate(''); ?></th>
    </tr>
    </thead>
    <tbody></tbody>
  </table>
  <?php echo $this->partial("partials/table_default_row_buttons", array()); ?>
  <?php echo $this->partial("partials/confirm_modal", array()); ?>
  <?php echo $this->partial("partials/default_form_modal", array('modal_id' => 'add_new_form_modal', 'modal_label' => $this->translate('Nowy'), 'form' => $this->add_new_user_form, 'action' => $this->url('user_index/user_index_process', array('action' => 'adduserajax')), 'form_width' => 12, 'action_method' => 'ajax')); ?>
  <?php echo $this->partial("partials/default_form_modal", array('modal_id' => 'edit_form_modal', 'modal_label' => $this->translate('Edytuj'), 'form' => $this->edit_user_form, 'action' => $this->url('user_index/user_index_process', array('action' => 'edituserajax')), 'form_width' => 12, 'action_method' => 'ajax')); ?>
  <?php if ($this->resolver('partials/blueimp_fileupload')): ?>
    <?php echo $this->partial("partials/blueimp_fileupload", array()); ?>
  <?php endif; ?>
</div>