<div class="row">
  <div class="col-md-10">
    <?php $aNavigationMenu = $this->navigation_menu; ?>
    <div class="table_container">
      <?php if (count($aNavigationMenu)) { ?>
        <div class="control_panel">
          <button class="change_menu_configuration_button btn btn-default ladda-button" type="button"
                  data-toggle="modal" data-target="#change_menu_configuration_form_modal"><i
              class="fa fa-filter"></i><?php echo $this->translate('Przełącz konfigurację menu'); ?></button>
          <div class="clearfix"></div>
          <button class="reset_button btn btn-default ladda-button" type="button" data-style="slide-up"
                  data-spinner-color="#333"><i class="fa fa-refresh"></i><?php echo $this->translate('Odśwież'); ?>
          </button>
          <button class="save_button btn btn-default ladda-button" type="button" data-style="slide-up"
                  data-spinner-color="#333"><i
              class="fa fa-sort-numeric-asc"></i><?php echo $this->translate('Zapisz bieżący układ'); ?></button>
          <button class="add_new_form_modal btn btn-default" type="button" data-toggle="modal"
                  data-target="#add_new_navigation_menu_form_modal"><i
              class="fa fa-plus"></i><?php echo $this->translate('Nowy'); ?></button>
        </div>
        <div id="navigation_menu" class="dd">
          <ol class="dd_list">
            <?php foreach ($aNavigationMenu as $nKey => $aMenu) { ?>
              <li class="dd_item" data-id="<?php echo $aMenu['id']; ?>">
                <div class="dd_handle">
                  <span class="pull-left">
                    <?php echo $aMenu['label_name']; ?>
                  </span>
                  <span class="pull-right">
                    <a class="move_up_menu_item_settings margin_right-5" href=""><i
                        class="fa fa-angle-up"></i><?php echo $this->translate('Do góry'); ?></a>
                    <a class="move_down_menu_item_settings margin_right-5" href=""><i
                        class="fa fa-angle-down"></i><?php echo $this->translate('Na dół'); ?></a>
                    <a class="display_menu_item_settings margin_right-5" href=""><i
                        class="fa fa-gears"></i><?php echo $this->translate('Konfiguracja'); ?></a>
                  </span>
                </div>
                <div class="menu_item_settings">
                  <a class="edit_navigation_menu margin_right-10" href="" data-id="<?php echo $aMenu['id']; ?>"
                     data-toggle="modal" data-target="#edit_navigation_menu_form_modal"><i
                      class="fa fa-edit"></i><?php echo $this->translate('Edytuj'); ?></a>
                  <a class="copy_navigation_menu margin_right-10" href="" data-id="<?php echo $aMenu['id']; ?>"
                     data-toggle="modal" data-target="#add_new_navigation_menu_form_modal"><i
                      class="fa fa-copy"></i><?php echo $this->translate('Kopiuj'); ?></a>
                  <a class="hide_menu_item_settings margin_right-10" href="" data-id="<?php echo $aMenu['id']; ?>"><i
                      class="fa fa-eye-slash"></i><?php echo $this->translate('Ukryj'); ?></a>
                  <a class="show_menu_item_settings margin_right-10" href="" data-id="<?php echo $aMenu['id']; ?>"><i
                      class="fa fa-eye"></i><?php echo $this->translate('Pokaż'); ?></a>
                  <a class="delete_menu_item_settings margin_right-10" href="" data-id="<?php echo $aMenu['id']; ?>"><i
                      class="fa fa-trash-o"></i><?php echo $this->translate('Usuń'); ?></a>
                  <?php echo $this->partial("partials/default_form", array('form' => $this->menu_item_settings, 'action' => $this->url('application_navigation/application_navigation_process', array('action' => 'editmenuitemsettingsajax')), 'form_width' => 12, 'action_method' => 'ajax')); ?>
                </div>
                <?php if (isset($aMenu['submenu'])) { ?>
                  <ol class="dd_list">
                    <?php foreach ($aMenu['submenu'] as $nKey => $aSubmenu) { ?>
                      <li class="dd_item" data-id="<?php echo $aSubmenu['id']; ?>">
                        <div class="dd_handle">
                          <span class="pull-left">
                            <?php echo $aSubmenu['label_name']; ?>
                          </span>
                          <span class="pull-right">
                            <a class="move_up_menu_item_settings margin_right-5" href=""><i
                                class="fa fa-angle-up"></i><?php echo $this->translate('Do góry'); ?></a>
                            <a class="move_down_menu_item_settings margin_right-5" href=""><i
                                class="fa fa-angle-down"></i><?php echo $this->translate('Na dół'); ?></a>
                            <a class="display_menu_item_settings margin_right-5" href=""><i
                                class="fa fa-gears"></i><?php echo $this->translate('Konfiguracja'); ?></a>
                          </span>
                        </div>
                        <div class="menu_item_settings">
                          <a class="edit_navigation_menu margin_right-10" href=""
                             data-id="<?php echo $aSubmenu['id']; ?>"
                             data-toggle="modal" data-target="#edit_navigation_menu_form_modal"><i
                              class="fa fa-edit"></i><?php echo $this->translate('Edytuj'); ?></a>
                          <a class="copy_navigation_menu margin_right-10" href=""
                             data-id="<?php echo $aSubmenu['id']; ?>"
                             data-toggle="modal" data-target="#add_new_navigation_menu_form_modal"><i
                              class="fa fa-copy"></i><?php echo $this->translate('Kopiuj'); ?></a>
                          <a class="hide_menu_item_settings margin_right-10" href=""
                             data-id="<?php echo $aSubmenu['id']; ?>"><i
                              class="fa fa-eye-slash"></i><?php echo $this->translate('Ukryj'); ?></a>
                          <a class="show_menu_item_settings margin_right-10" href=""
                             data-id="<?php echo $aSubmenu['id']; ?>"><i
                              class="fa fa-eye"></i><?php echo $this->translate('Pokaż'); ?></a>
                          <a class="delete_menu_item_settings margin_right-10" href=""
                             data-id="<?php echo $aSubmenu['id']; ?>"><i
                              class="fa fa-trash-o"></i><?php echo $this->translate('Usuń'); ?></a>
                          <?php echo $this->partial("partials/default_form", array('form' => $this->menu_item_settings, 'action' => $this->url('application_navigation/application_navigation_process', array('action' => 'editmenuitemsettingsajax')), 'form_width' => 12, 'action_method' => 'ajax')); ?>
                        </div>
                      </li>
                    <?php } ?>
                  </ol>
                <?php } ?>
              </li>
            <?php } ?>
          </ol>
        </div>
      <?php } else { ?>
        <div class="control_panel">
          <button class="change_menu_configuration_button btn btn-default ladda-button" type="button"
                  data-toggle="modal" data-target="#change_menu_configuration_form_modal"><i
              class="fa fa-filter"></i><?php echo $this->translate('Przełącz konfigurację menu'); ?></button>
          <div class="clearfix"></div>
          <button class="add_new_form_modal btn btn-default" type="button" data-toggle="modal"
                  data-target="#add_new_navigation_menu_form_modal"><i
              class="fa fa-plus"></i><?php echo $this->translate('Nowy'); ?></button>
        </div>
      <?php } ?>
      <?php $sUniqueName = 'navigation_menu_'; ?>
      <?php echo $this->partial("partials/default_form_modal", array('modal_id' => 'change_menu_configuration_form_modal', 'modal_label' => $this->translate('Przełącz konfigurację menu'), 'form' => $this->change_menu_configuration_form, 'action' => $this->url('application_navigation/application_navigation_process', array('action' => 'menu')), 'form_width' => 12)); ?>
      <?php echo $this->partial("partials/confirm_modal", array('modal_id' => 'delete_' . $sUniqueName . 'confirm_modal', 'submit_button' => 'delete_' . $sUniqueName . 'button')); ?>
      <?php echo $this->partial("partials/default_form_modal", array('modal_id' => 'add_new_' . $sUniqueName . 'form_modal', 'modal_label' => $this->translate('Dodaj'), 'form' => $this->add_new_navigation_menu_form, 'action' => $this->url('application_navigation/application_navigation_process', array('action' => 'menu')), 'form_width' => 12)); ?>
      <?php echo $this->partial("partials/default_form_modal", array('modal_id' => 'edit_' . $sUniqueName . 'form_modal', 'modal_label' => $this->translate('Edytuj'), 'form' => $this->edit_navigation_menu_form, 'action' => $this->url('application_navigation/application_navigation_process', array('action' => 'editnavigationmenuajax')), 'form_width' => 12, 'action_method' => 'ajax')); ?>
    </div>
  </div>
</div>