<div
  class="table_container">
  <button class="add_first_new_form_modal btn btn-default" type="button" data-toggle="modal" data-target="#add_new_form_modal">
    <i class="fa fa-plus"></i><?php echo $this->translate('Nowy'); ?>
  </button>
  <div
    class="table_control_panel">
    <?php echo $this->partial("partials/table_default_control_panel", array()); ?>
  </div>
  <table
    class="table table-hover table_navigation_modules">
    <thead>
    <tr>
      <th
        style="width:2%"
        data-column_name="id">
        <input
          class="checkbox check_all_top"
          type="checkbox"
          name="checkbox"/>
      </th>
      <th
        style="width:8%"
        data-column_name="table_default_row_buttons"><?php echo $this->translate(''); ?></th>
      <th
        style="width:50%"
        class="sortable filterable"
        data-column_name="value"><?php echo $this->translate('Nazwa'); ?></th>
      <th
        style="width:20%"
        class="sortable filterable"
        data-column_name="user_created_date"
        data-sort_column_name="created_date"
        data-filter_column_name="created_date"><?php echo $this->translate('Data utworzenia'); ?></th>
      <th
        style="width:20%"
        class="sortable filterable"
        data-column_name="user_updated_date"
        data-sort_column_name="updated_date"
        data-filter_column_name="updated_date"><?php echo $this->translate('Data modyfikacji'); ?></th>
    </tr>
    </thead>
    <tbody></tbody>
  </table>
  <?php echo $this->partial("partials/table_default_row_buttons", array()); ?>
  <?php echo $this->partial("partials/confirm_modal", array()); ?>
  <?php echo $this->partial("partials/default_form_modal", array('modal_id' => 'add_new_form_modal', 'modal_label' => $this->translate('Nowy'), 'form' => $this->add_new_navigation_module_form, 'action' => $this->url('application_navigation/application_navigation_process', array('action' => 'addmoduleajax')), 'form_width' => 12, 'action_method' => 'ajax')); ?>
  <?php echo $this->partial("partials/default_form_modal", array('modal_id' => 'edit_form_modal', 'modal_label' => $this->translate('Edytuj'), 'form' => $this->edit_navigation_module_form, 'action' => $this->url('application_navigation/application_navigation_process', array('action' => 'editmoduleajax')), 'form_width' => 12, 'action_method' => 'ajax')); ?>
</div>